.side_nav {
  width: 20%;
  flex-shrink: 0;
  background-color: #eaeaea; }
  .side_nav nav ul {
    padding-left: 0;
    margin-top: 0; }
    .side_nav nav ul li {
      border-bottom: 1px solid #7c7c7c;
      padding: 10px;
      list-style: none; }
      .side_nav nav ul li button {
        color: #7c7c7c;
        border: none;
        background: transparent;
        outline: none;
        font-size: 17px;
        cursor: pointer;
        text-align: left; }

.category_dropdown {
  height: 45px;
  padding: 10px 25px;
  width: 100%;
  background: #bf2957;
  font-size: 16px;
  color: white;
  outline: none;
  margin-top: 20px; }

@media screen and (max-width: 500px) {
  .side_nav {
    display: none; } }
