.banner-container {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 25px 20px -20px;
    // box-shadow: rgb(0 0 0 / 20%) 0px 25px 20px -20px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media screen and(max-width: 480px) {
    .slider-control-centerright button {
      display: none;
    }
  
    .slider-control-centerleft button {
      display: none;
    }
    .carousel_img img {
        height: 200px;
        object-fit: contain;
        
    }
  }
  @media screen and (max-width: 769px) {
    .carousel_img img {
        width: 100%;
        
    }
  }
  