.banner_container {
    box-shadow: 0px 15px 10px -15px rgb(71, 71, 71);
  
    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  @media screen and(max-width: 480px) {
    .slider-control-centerright button {
      display: none;
    }
  
    .slider-control-centerleft button {
      display: none;
    }
    .carousel_img img {
        height: 200px;
        object-fit: contain;
        
    }
  }
  @media screen and (max-width: 769px) {
    .carousel_img img {
        width: 100%;
        
    }
  }
  