.product_card {
  width: 23.9%;
  padding: 10px;
  box-sizing: border-box;
  margin: 20px 5px;
  border-bottom: 1px dashed;
  box-shadow: 0px 0px 14px -6px rgba(0, 0, 0, 0.2); }
  .product_card header.product_card_header {
    height: 70px; }
    .product_card header.product_card_header h1 {
      font-size: 16px;
      margin-top: 5px; }
  .product_card .product_card_body {
    margin-top: 20px; }
    .product_card .product_card_body .product_img {
      width: 100%;
      height: 200px;
      object-fit: contain; }
    .product_card .product_card_body span.product_description_span {
      background-color: #eeeeee;
      height: 90px;
      display: block; }
    .product_card .product_card_body span p.product_description {
      padding: 10px;
      font-size: 14px; }
    .product_card .product_card_body .showMoreDesc {
      cursor: pointer;
      display: block; }
  .product_card .product_card_footer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .product_card .product_card_footer div.buynow_btn_div .buynowbtn {
      outline: none;
      height: 35px;
      cursor: pointer;
      background: unset;
      background-color: #bf2957;
      border: none;
      color: white;
      padding: 0 25px; }
    .product_card .product_card_footer .buynowbtn_mobile {
      display: none;
      width: 100%; }

@media screen and (max-width: 1025px) {
  .product_card {
    width: 29%; } }

@media screen and (max-width: 769px) {
  .product_card {
    width: 48.3%; }
    .product_card header.product_card_header {
      height: 40px; }
    .product_card .product_card_body {
      display: flex; }
      .product_card .product_card_body .product_img {
        width: 50%;
        margin-right: 10px;
        height: auto; }
      .product_card .product_card_body span.product_description_span {
        height: auto; }
    .product_card .product_card_footer p, .product_card .product_card_footer .buynow_desktop {
      display: none; }
    .product_card .product_card_footer .buynow_btn_div {
      width: 100%; }
    .product_card .product_card_footer .buynowbtn_mobile {
      display: block; } }

@media screen and (min-width: 1300px) {
  .product_card {
    width: 23.9%; } }

@media screen and (max-width: 500px) {
  .product_card {
    width: 100%;
    margin: 20px 15px; }
    .product_card .product_card_body div.content_group {
      height: 120px;
      position: relative; }
      .product_card .product_card_body div.content_group .product_description {
        margin-top: 0; }
    .product_card .product_card_body div.buynow_btn_div {
      width: 100%;
      position: absolute; }
      .product_card .product_card_body div.buynow_btn_div .buynowbtn_mobile {
        outline: none;
        height: 35px;
        cursor: pointer;
        background: unset;
        background-color: #bf2957;
        border: none;
        color: white;
        padding: 0 25px;
        width: 100%; } }
