.nav_link {
    display: flex;
    justify-content: space-between;
    .links {
        display: flex;
        // width: 500px;
        align-items: end;
        li {
            width: auto;
            margin: 0 20px;
            list-style: none;
            text-decoration: none;
            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
.cartlogo {
    width: 35px;
    height: 35px;
}
.cartbutton {
    background: transparent;
    background-color: #eeeeee;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    outline: none;
    border: none;
    margin-left: 15px;
    span {
        margin-left: 5px;
    }
}

.sublink{
    font-size: 12px;
    list-style: none;
    display: flex;
    margin: 5px auto;
    li {
        width: auto;
        margin: 0 10px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}
header {
    .headercontent {
        width: 100%;
    }
}

.brandimg {
    height: 86px;
    width: 190px;
}

@media screen and (max-width:768px) {
    .brandimg {
        height: 60px;
        margin: 10px 0;
        width: auto;
    }
    .cartbutton {
        margin-top: 5px;
        float: right;
    }
}
@media only screen and (max-width:600px) {
    .links, .sublink{
        display: none !important;
    }
    .brandimg {
        height: 44px;
        margin: 3px 0;
        width: 110px;
    }
    .cartbutton {
        margin-top: 0;
    }
    .nav_link {
        justify-content: end;
    }
}